{% extends "partials/base.html.twig" %}

{% set pageTitle = "Tasks" %}

{% block content %}
    <h2>Tasks</h2>
    <p>List all tasks</p>
    <p><a href="/tasks/create">Create a New Task</a></p>
{% endblock %}
